@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;700&family=Nunito:wght@200&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

.header,
.gnav {
    position: relative;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    min-height: 50vh;
}

.header h1 {
    margin: 0;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 8vw;
    font-family: 'Nunito', sans-serif;
}

.gnav ul {
    font-family: 'Kaisei Opti', serif;
    display: flex;
    gap: 0 20px;
    position: absolute;
    right: 10px;
}

.gnav a {
    text-decoration: none;
    color: #ffffff;
}

body {
    font-family: 'Kaisei Opti', serif;
}

.works {
    width: 100%;
    background-color: #dfdfdf;
    padding-top: 50px;
    padding-bottom: 120px;
}

.title {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 20px;
    text-align: center;

}

.work_img {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.work_img img{
    margin: 10px;
}

.profile{
    width: 920px;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

.profile img{
    margin-right: 50px;
}

.prodile_img{
    padding-top: 30px;
    display: flex;
    padding-bottom: 100px;
}

.totop {
    position: fixed;
    bottom: 10px;
    right: 10%;
}

.totop a {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
}   

/* 下層ページ お問い合わせ*/
.contact {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .work_img,
    .prodile_img {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    .gnav ul {
        flex-wrap: wrap;
    }
}